<!-- 文章内容详情 -->
<div id="artDetail">
    <div class="card">
        <%- partial('_partial/post-header') %>
        <%- partial('_partial/code') %>
        <%- partial('_partial/card') %>
    </div>
    <%- partial('_partial/comment') %>
    <%- partial('_partial/prev-next') %>
</div>
<%- partial('_partial/post-footer') %>